<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Android and iOS mobile phone</p>
                <div class="app-logo">
                    <img src="/assets/Ecommerce/images/play-store.png" alt="Play Store">
                    <img src="/assets/Ecommerce/images/app-store.png" alt="App Store">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="/assets/Ecommerce/images/logo-white.png" alt="CXWUD Logo">
                <p>Our Purpose Is To Sustainably Make the Pleasure and Benefits of Sports Accessible to the Many</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li><a href="/coupons">Coupons</a></li>
                    <li><a href="/blog">Blog Post</a></li>
                    <li><a href="/return-policy">Return Policy</a></li>
                    <li><a href="/affiliate">Join Affiliate</a></li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us</h3>
                <ul>
                    <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
                    <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
                    <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
                    <li><a href="https://youtube.com" target="_blank">YouTube</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="Copyright">Copyright 2024 - By CXWUD</p>
    </div>
</div>

<!-- ------------------- js for toggle menu-------------- -->
<script src="/js/script.js"></script>
