<div class="row">
    <section class="hero-section">
        <div class="hero-content">
            <h1>FIND YOUR VIBE</h1>
            <p>Check out our Captivating Cities shirt collection</p>
            <div class="explore-button">
                <a href="/product">EXPLORE HERE</a>
            </div>
        </div>
    </section>
</div>
<br> <br> <br> <br> <br> <br> <br> <br>


<!-- ------------- featured products ---------------- -->
<div class="black-container" style="background-color: rgba(0, 0, 0, 1); padding: 20px; color: white;">
    <div class="small-container">
        <h2 class="title">Featured Products</h2>
        <div class="row">
            <div class="col-4">
                <a href="/viewdetail/3"><img
                        src="https://thantisocialclub.vn/data/upload/media/fear-of-god-essentials-hoodie-jet-black.jpg">
                    <h4>Essential Hoodie</h4>
                </a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>$90.00</p>
            </div>
            <div class="col-4">
                <a href="/viewdetail/8"><img
                        src="https://twicpics.celine.com/product-prd/images/large/RY033670Q.96NJ_1_FW24_P1_M.jpg?twic=v1/cover=1:1/resize-max=480">
                    <h4>Balon Loose Hoddie</h4>
                </a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>$400.00</p>
            </div>
            <div class="col-4">
                <a href="/viewdetail/4">
                    <img
                        src="https://fearofgod.com/cdn/shop/files/130HO242029F_FLEECEESSENTIALSWEATPANT_HEATHERGRAY_1_900x.jpg?v=1730832947">
                    <h4>Fleece Essential Sweatpant</h4>
                </a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>$80.00</p>
            </div>
            <div class="col-4">
                <a href="/viewdetail/40">
                    <img
                        src="https://fearofgod.com/cdn/shop/files/FG24FW50-812PFL_HOODIE-PARIS_SKY_1_900x.jpg?v=1721834136">
                    <h4>Polar Fleece Hoodie</h4>
                </a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$207.00</p>
            </div>
        </div>
        <h2 class="title">Latest Products</h2>
        <div class="row">
            <div class="col-4">
                <a href="/viewdetail/19" style="text-decoration: none; color: inherit;">
                    <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/e076c8dc-ce73-4639-b4a2-3312ee219265/NIKE+AIR+WINFLO+11.png"
                        alt="Nike Winflo 11">

                    <h4>Nike Winflo 11</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$121.00</p>
                </a>
            </div>
            <div class="col-4">
                <a href="/viewdetail/15" style="text-decoration: none; color: inherit;">
                    <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/5d4a86bf-5e8e-4413-8efa-a43de8a9d554/NIKE+AIR+MAX+90+LV8.png"
                        alt="Nike Air Max 90 LV8">

                    <h4>Nike Air Max 90 LV8</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$191.00</p>
                </a>
            </div>
            <div class="col-4">
                <a href="/viewdetail/31" style="text-decoration: none; color: inherit;">
                    <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/6dd373e3-ccca-456f-81e5-e3ed55199693/NIKE+AIR+MAX+97.png"
                        alt="Nike Air Max 97">

                    <h4>Nike Air Max 97</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$143.00</p>
                </a>
            </div>
            <div class="col-4">
                <a href="/viewdetail/2" style="text-decoration: none; color: inherit;">
                    <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/191eeea5-8a43-4c40-b9a1-6c3735e97f82/SEL+MNK+DF+JSY+JAMES.png"
                        alt="Lebrons James Lakers's shirt">

                    <h4>Lebrons James Lakers's shirt</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$35.00</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <a href="/viewdetail/9" style="text-decoration: none; color: inherit;">
                    <img src="https://cdn.authentic-shoes.com/wp-content/uploads/2023/04/stussy-basic-tee-black-white-190_d8fe293ebc1447e4bc436f62c1e95d72.png"
                        alt="Stussy T-shirt">

                    <h4>Stussy T-shirt</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$40.00</p>
                </a>
            </div>

            <div class="col-4">
                <a href="/viewdetail/10" style="text-decoration: none; color: inherit;">
                    <img src="https://www.stussy.com/cdn/shop/files/1311107_BLAC_1_0f786b64-1829-4660-a22f-f98bf22c4401_grande.jpg?v=1718226804"
                        alt="Stussy Hat">

                    <h4>Stussy Hat</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$30.00</p>
                </a>
            </div>
            <div class="col-4">
                <a href="/viewdetail/95" style="text-decoration: none; color: inherit;">
                    <img src="https://www.stussy.com/cdn/shop/files/1925022T_BL02_2_28190bc8-c0f9-40e4-b0f0-8ac36eed0676.jpg?v=1730933410&width=1440"
                        alt="Stussy Graffiti Hoodie">

                    <h4>Stussy Graffiti Hoodie</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$124.00</p>
                </a>
            </div>
            <div class="col-4">
                <a href="/viewdetail/113" style="text-decoration: none; color: inherit;">
                    <img src="https://www.stussy.com/cdn/shop/files/116651_WABL_1.jpg?v=1724079499&width=1440"
                        alt="Stussy Big OL'">

                    <h4>Stussy Big OL'</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$241.00</p>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- ------------ offer -------------- -->
<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2"><img src="assets/Ecommerce/images/exclusive.png" class="offer-img"> </div>
            <div class="col-2">
                <p style="color: rgb(0, 0, 0);">Exclusive Available on CXWUD</p>
                <h1>Essential Hoodie</h1>
                <small>
                    Introducing the Essentials Hoodie — your go-to layer for comfort and style. Crafted from premium,
                    soft-touch fabric, it offers a relaxed fit that keeps you cozy throughout the day. Upgrade your
                    everyday look with a hoodie that redefines the meaning of
                    essential.
                </small>
                <br>
                <a href="/viewdetail/3" class="btn">Buy Now &#8594;</a>
            </div>
        </div>
    </div>
</div>
<!-- ------------ testimonial -------------- -->
<div class="testimonial">
    <div class="small-container">
        <div class="row">
            <div class="col-3"
                style="background-color: rgb(255, 255, 255); padding: 20px; color: white; border-radius:10px">
                <i class="fa fa-qoute-lef"></i>
                <p>Your clothing and footwear collection offers a diverse range of trendy and stylish options that cater
                    to various customer preferences. Highlighting seasonal collections or exclusive products could
                    further attract a wider audience and create a sense of urgency for purchases.</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <img src="">
                <h3>Đỗ Huy</h3>
            </div>
            <div class="col-3"
                style="background-color: rgb(255, 255, 255); padding: 20px; color: white; border-radius:10px">
                <i class="fa fa-qoute-lef"></i>
                <p>The product descriptions are clear and informative, giving customers a good understanding of the
                    features and value. The high-quality images provide a realistic view of the items, but adding
                    multiple angles or videos for products, especially footwear, can enhance customer confidence in
                    their purchase decisions.</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <img src="">
                <h3>Hiếu Nguyễn Trung</h3>
            </div>
            <div class="col-3"
                style="background-color: rgb(255, 255, 255); padding: 20px; color: white; border-radius:10px">
                <i class="fa fa-qoute-lef"></i>
                <p>The pricing is competitive and displayed transparently, which builds trust among customers. Including
                    customer reviews and detailed ratings, particularly for fit and comfort in clothing and shoes, would
                    add credibility and assist customers in making informed decisions.</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <img src="">
                <h3>Trần Huy</h3>
            </div>
        </div>
    </div>
</div>
<!-- ------------------- brands --------------------- -->
<div class="brands">
    <div class="small-container">
        <div class="row">
            <a href="/product/essentials">
                <div class="col-5">
                    <img src="assets/Ecommerce/images/logo-godrej.png">
                </div>
            </a>
            <a href="/product/nike">
                <div class="col-5">
                    <img src="assets/Ecommerce/images/logo-oppo.png">
                </div>
            </a>
            <a href="/product/essentials">
                <div class="col-5">
                    <img src="assets/Ecommerce/images/logo-coca-cola.png">
                </div>
            </a>
            <a href="/product/adidas">
                <div class="col-5">
                    <img src="assets/Ecommerce/images/logo-paypal.png">
                </div>
            </a>
            <a href="/product/celine">
                <div class="col-5">
                    <img src="assets/Ecommerce/images/logo-philips.png">
                </div>
            </a>
        </div>
    </div>
</div>